CLIENT_ID="zik"
CLIENT_SECRET="SECRET"
ISSUER="https://connect.vpn.eirb.fr/realms/eirb"
PORT=8080
WEB_PORT=8080
COOKIE_ID="SECRET"
FRONTEND_IP="http://localhost:8080"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="SECRET"
POSTGRES_SERVER=db #Docker service
POSTGRES_PORT=5432 #Internal port postgres
